name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore dependencies
      working-directory: CSharp/LanguageTests
      run: dotnet restore

    - name: Build
      working-directory: CSharp/LanguageTests
      run: dotnet build --no-restore

    - name: Test
      working-directory: CSharp/LanguageTests
      run: dotnet test --no-build --logger "junit;LogFileName=test-results.xml"
      continue-on-error: true

    - name: Upload test results to GitHub
      if: always()
      uses: actions/upload-test-results@v2
      with:
        files: CSharp/LanguageTests/TestResults/test-results.xml
